<?xml version="1.0"?>

<model>
  <name>Tartu Narva maantee Ringristmik</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rudolf Poldma</name>
    <email>rudolfpoldma9@gmail.com</email>
  </author>

  <description>
    EST:
    Digikaksik Tartu Narva ringristmikust
    ENG:
    Digital twin of Tartu Narva road roundabout
  </description>
</model>
